[Desktop Entry]
Name=Sorun.me
GenericName=Sorun.me
Comment=Sorun.me - Dev Environments for Creators
Exec=/bin/bash -c "/usr/bin/pkill -9 /usr/bin/xfce4-panel;/usr/bin/nohup xfce4-panel;/usr/bin/sleep 2 && for run in {1..3}; do /usr/bin/xdotool search --name \"Whisker Menu\" set_window --name \" \" && sleep 0.1; done"
Terminal=false
Type=Application
Icon=scalable_kairos
X-GNOME-Autostart-enabled=true