/configver                                                2
/panels                                                   <<UNSUPPORTED>>
/panels/panel-1/icon-size                                 16
/panels/panel-1/length                                    100
/panels/panel-1/plugin-ids                                <<UNSUPPORTED>>
/panels/panel-1/position                                  p=6;x=0;y=0
/panels/panel-1/position-locked                           true
/panels/panel-1/size                                      26
/plugins/plugin-1                                         whiskermenu
/plugins/plugin-10                                        notification-plugin
/plugins/plugin-11                                        separator
/plugins/plugin-11/style                                  0
/plugins/plugin-12                                        clock
/plugins/plugin-12/digital-format                         %a %b %d %l:%M %P
/plugins/plugin-13                                        separator
/plugins/plugin-13/style                                  0
/plugins/plugin-2                                         appmenu
/plugins/plugin-2/plugins/plugin-2/bold-application-name  true
/plugins/plugin-2/plugins/plugin-2/compact-mode           false
/plugins/plugin-2/plugins/plugin-2/expand                 true
/plugins/plugin-3                                         separator
/plugins/plugin-3/expand                                  false
/plugins/plugin-3/style                                   0
/plugins/plugin-4                                         pager
/plugins/plugin-5                                         separator
/plugins/plugin-5/style                                   0
/plugins/plugin-6                                         statusnotifier
/plugins/plugin-6/hidden-items                            <<UNSUPPORTED>>
/plugins/plugin-6/known-items                             <<UNSUPPORTED>>
/plugins/plugin-6/mode-whitelist                          false
/plugins/plugin-9                                         power-manager-plugin
